In [1]:
from matplotlib import pyplot as plt
from pandas import DataFrame, read_table
from QuadraticAprox.D2 import Approx
from numpy import linspace

In [2]:
FILENAME = "Data/test4.txt"
data: DataFrame = read_table(FILENAME, names=['z', 'x', 'y', 'weight'], sep="\\s+", comment="/")

In [3]:
# data

In [4]:
data

       z  x  y  weight
0   8.13 -2 -1       6
1   7.50 -2  0       7
2   5.78 -2  1       2
3   1.11 -2  2       7
4   2.13 -1 -1       7
5   1.50 -1  0       4
6  -0.22 -1  1       6
7  -4.89 -1  2       9
8   0.13  0 -1       5
9  -0.50  0  0       4
10 -2.22  0  1       6
11 -6.89  0  2       8
12  2.13  1 -1       4
13  1.50  1  0       6
14 -0.22  1  1       5
15 -4.89  1  2       9
16  8.13  2 -1       6
17  7.50  2  0       8
18  5.78  2  1       6
19  1.11  2  2       1

In [5]:
approx = Approx(data, 2)

In [6]:
approx.coefficients()

array([-0.21951038, -1.28310722, -1.00170223,  0.0032522 ,  0.01202548,
        1.98985703])

In [7]:
str(approx)

'(-0.2195103787143414) * (x ^ 0) * (y ^ 0) + (-1.2831072165252806) * (x ^ 0) * (y ^ 1) + (-1.0017022287805268) * (x ^ 0) * (y ^ 2) + (0.003252202772628121) * (x ^ 1) * (y ^ 0) + (0.012025483743401559) * (x ^ 1) * (y ^ 1) + (1.9898570262523627) * (x ^ 2) * (y ^ 0)'