In [1]:
from matplotlib import pyplot as plt
from pandas import DataFrame, read_table
from QuadraticAprox.D2 import Approx
from numpy import linspace

In [2]:
FILENAME = "Data/test3.txt"
data: DataFrame = read_table(FILENAME, names=['z', 'x', 'y', 'weight'], sep="\\s+", comment="/")

In [3]:
 data

       z  x  y  weight
0  -10.0 -2 -1       2
1  -12.0 -2  0       8
2  -12.0 -2  1       7
3  -10.0 -2  2       6
4   -3.0 -1 -1       0
5   -4.0 -1  0       3
6   -3.0 -1  1       6
7    0.0 -1  2       1
8   -0.0  0 -1       6
9    0.0  0  0       9
10   2.0  0  1       3
11   6.0  0  2       6
12  -1.0  1 -1       3
13   0.0  1  0       1
14   3.0  1  1       1
15   8.0  1  2       0
16  -6.0  2 -1       0
17  -4.0  2  0       4
18   0.0  2  1       5
19   6.0  2  2       3

In [4]:
approx = Approx(data)

In [5]:
approx.coefficients()

array([-2.79655052,  3.24756862,  1.13090909])